fastapi==0.115.2
pydantic-settings==2.6.1
mangum==0.17.0
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.31
alembic==1.13.2
PyMySQL==1.1.1
boto3==1.34.142
PyJWT==2.9.0
cryptography==43.0.1
razorpay==2.0.0
aws-xray-sdk==2.12.1
